<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="author" content="Rachael Grimmett">
    <meta name="description" content="Plant diagnosis hub for all the house plants you may own.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style-coffee.css" />
    <script src="https://kit.fontawesome.com/ba95519acb.js" crossorigin="anonymous"></script>

    <title>BeGONEia - 404</title>

</head>
<body>
<div class="wrapper">
    <div id="overlayMenu">
        <button type="button" id="close-button" onclick="menuToggle()">
            <i class="fa-solid fa-circle-xmark"></i>
        </button>
        <ul class="navigation-links">
            <li><a href="index.html"  aria-current="page">
                <i class="fa-solid fa-house"></i> Home</a></li>
            <li><a href="help-my-plant.html">
                <i class="fa-solid fa-plant-wilt"></i> Help My Plant</a></li>
            <li><a href="plant.html">
                <i class="fa-solid fa-leaf"></i> Plant Database</a></li>
            <li><a href="problems.html">
                <i class="fa-solid fa-bug"></i> Ailment Database</a></li>
        </ul>
    </div>
    <header>
        <div id="skip"><a href="#main-content">Skip to Main Content</a></div>
        <nav aria-label="Main">
            <a href="index.html" class="logo" id="top">BeGONEia</a>
            <button type="button" id="menu-button" onclick="menuToggle()">
                <i class="fa-solid fa-bars" aria-label="Menu Button"></i>
            </button>
        </nav>
    </header>
    <main id="main-content">
        <section class="content">
<!--            TODO: Implement False Button class and add it to plant.html as well -->
            <h1>Error 404</h1>
            <p>Sorry!<br>We couldn't find the page you are after.</p>
            <a class="falseButton" href="index.html">
                <i class="fa-solid fa-house"></i> Return Home</a>
        </section>
    </main>
    <footer>
        <div>
            <a href="#top">
                <i class="fa-solid fa-arrow-up" aria-hidden="true"></i>
                Back to Top
            </a><br>
        </div>
    </footer>
    <script>
        function menuToggle() {
            var x = document.getElementById("overlayMenu");
            if (x.style.display === "block") { x.style.display = "none"; }
            else { x.style.display = "block"; }
        }
    </script>
</div>
</body>
</html>