<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="author" content="Rachael Grimmett">
    <meta name="description" content="Plant diagnosis hub for all the house plants you may own.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style-coffee.css" />
    <script src="https://kit.fontawesome.com/ba95519acb.js" crossorigin="anonymous"></script>

    <!-- SurveyJS imports -->
    <link href="https://unpkg.com/survey-core/defaultV2.min.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/survey-core/survey.core.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/survey-js-ui/survey-js-ui.min.js"></script>

    <script type="text/javascript" src="./controllers/diagnosisController.js"></script>
    <script src="./controllers/menuController.js" async></script>

    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="img/favicon/site.webmanifest">

    <title>BeGONEia - Help My Plant!</title>

</head>
<body>
<div class="wrapper">
    <div id="overlayMenu"></div>
    <header>
        <div id="skip"><a href="#main-content">Skip to Main Content</a></div>
        <nav aria-label="Main">
            <a href="index.html" class="logo" id="top">BeGONEia</a>
            <button type="button" id="menu-button" onclick="toggleMenu()">
                <i class="fa fa-bars" aria-label="Menu Button"></i>
            </button>
        </nav>
    </header>
    <main>
        <section id="quiz-hero">
            <h1 id="main-content">Help My Plant!</h1>
            <p>The following is a work in progress. The order and content of the questions are subject to change.</p>
        </section>
        <div id="surveyContainer"></div>
    </main>

    <footer>
        <div>
            <a href="#top">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
                Back to Top
            </a><br>
        </div>
    </footer>
</div>
</body>
</html>