<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="author" content="Rachael Grimmett">
    <meta name="description" content="Plant diagnosis hub for all the house plants you may own.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style-coffee.css" />
    <script src="./controllers/navigationController.js"></script>
    <script src="https://kit.fontawesome.com/ba95519acb.js" crossorigin="anonymous"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="img/favicon/site.webmanifest">

    <title>BeGONEia</title>

</head>
<body>
    <div id="overlayMenu"></div>
    <header>
        <div id="skip"><a href="#main-content">Skip to Main Content</a></div>
        <nav aria-label="Main">
            <a href="index.html" class="logo" id="top">BeGONEia</a>
            <button type="button" id="menu-button" onclick="toggleMenu()">
                <i class="fa-solid fa-bars" aria-label="Menu Button"></i>
            </button>
        </nav>
    </header>
    <main id="main-content">
        <section class="hero">
            <h1>Wondering What's Affecting Your Houseplant?</h1>
            <h2>Answer our diagnostic questions and find out today!</h2>
            <a href="help-my-plant.html">
                Take Me There
                <i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
            </a>
        </section>
    </main>
    <footer id="footer"></footer>
</body>
</html>