<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="author" content="Rachael Grimmett">
    <meta name="description" content="Plant diagnosis hub for all the house plants you may own.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style-coffee.css" />
    <script src="https://kit.fontawesome.com/ba95519acb.js" crossorigin="anonymous"></script>

    <script src="./controllers/navigationController.js" async></script>
    <script src="./controllers/plantViewController.js" async></script>

    <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
    <link rel="manifest" href="../img/favicon/site.webmanifest">

    <title>BeGONEia - Plant Details</title>

</head>
<body>
    <div id="overlayMenu"></div>
    <div id="filters-overlay"></div>
    <header>
        <div id="skip"><a href="#main-content">Skip to Main Content</a></div>
        <nav aria-label="Main">
            <a href="index.html" class="logo" id="top">BeGONEia</a>
            <button type="button" id="menu-button" onclick="toggleMenu()">
                <i class="fa fa-bars" aria-label="Menu Button"></i>
            </button>
        </nav>
    </header>
    <main>
        <div class="wrapper">
        <div id="view-back"><a href="plant-database.html">Back to Database</a></div>
        <div id="view-hero"></div>
        <section id="main-content">
            <ul class="plant-stats">
                <li><i class="fa-solid fa-sun"></i><p id="plant-light">Light</p></li>
                <li><i class="fa-solid fa-droplet"></i><p id="plant-water">Water</p></li>
                <li><i class="fa-solid fa-temperature-half"></i><p id="plant-temp">Temperature</p></li>
                <li><i class="fa-solid fa-cloud-rain"></i><p id="plant-humid">Humidity</p></li>
            </ul>
        </section>
        </div>
    </main>
    <footer id="footer"></footer>
</body>
</html>