<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="author" content="Rachael Grimmett">
    <meta name="description" content="Plant diagnosis hub for all the house plants you may own.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style-coffee.css" />
    <script src="https://kit.fontawesome.com/ba95519acb.js" crossorigin="anonymous"></script>

    <script src="./controllers/navigationController.js" async></script>

    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="img/favicon/site.webmanifest">

    <title>BeGONEia - Problem Categories</title>

</head>
<body>
    <div id="overlayMenu"></div>
    <header>
        <div id="skip"><a href="#main-content">Skip to Main Content</a></div>
        <nav aria-label="Main">
            <a href="index.html" class="logo" id="top">BeGONEia</a>
            <button type="button" id="menu-button" onclick="toggleMenu()">
                <i class="fa fa-bars" aria-label="Menu Button"></i>
            </button>
        </nav>
    </header>
    <main>
        <div class="wrapper" id="database-hero">
            <h1>Problem Database</h1>
            <p>Please select a category to search, or you can continue to search all pests and diseases.</p>
        </div>
        <section class="categories wrapper" id="main-content">
            <ul>
                <li id="all-category"><a href="all-database.html"><h2><i class="fa-solid fa-bug"></i>
                    All Plant Problems</h2></a></li>
                <li><a href="care-database.html"><h2><i class="fa-solid fa-plant-wilt"></i>
                    Care Issues Database</h2></a></li>
                <li><a href="disease-database.html"><h2><i class="fa-solid fa-virus"></i>
                    Disease Database</h2></a></li>
                <li><a href="pest-database.html"><h2><i class="fa-solid fa-bugs"></i>
                    Pest Database</h2></a></li>
            </ul>
        </section>
    </main>
    <footer id="footer"></footer>
</body>
</html>