/*  FONTS: */
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* font-family: "Sedgwick Ave Display", serif;
   font-family: "Mali", cursive;
   font-family: "Atkinson Hyperlegible", sans-serif;
 */

:root {
    /* Colour Variables */
    --deepGreen: #5A7324;
    --overlayGreen: rgba(90, 115, 35, 0.6);
    --lime: #D9D04E;
    --cream: #F2EAD0;
    --overlayCream: rgba(242, 234, 208, 0.5);
    --mustard: #D9A84E;
    --teal: #0E7490;
    --deepPurple: #362C40;
    --offBlack: #1A1420;
    --overlayBackground: rgba(26, 20, 32, 0.8);
    /* Font Variables*/
    --titleFont: "Sedgwick Ave Display", serif;
    --headerFont: "Mali", cursive;
    --bodyFont: "Atkinson Hyperlegible", sans-serif;
}

/*Setting default styles for ease of editing*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--bodyFont);
    font-size: 1.2rem;
    color: var(--offBlack);
    background-color: var(--cream);
}

/* Ensure everything is a block for viewing on a mobile as a stacked set of content */
aside,
footer,
header,
main,
section {
    display: block;
}

aside,
section,
footer {
    padding: 10px 30px;
}

/* DEFAULT TEXT STYLING */

h1,
h2 {
    text-align: center;
    color: var(--deepPurple);
    margin-top: 1rem;
}

h1 {
    font-family: var(--titleFont);
    -webkit-text-stroke: 1px var(--teal);
    text-shadow: -0.2rem 0.2rem 0 var(--teal);
    margin-bottom: 2rem;
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h2,
h3 {
    font-family: var(--headerFont);
}

h3 {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 1rem;
}

/* HEADER */
header {
    padding-top: 5vh;
    background: var(--deepPurple);
    z-index: 5;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    color: var(--cream);
    font-family: var(--titleFont);
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 2.5rem;
    transition: 0.5s;
    text-decoration: none;
    padding: 1rem 1.5rem;
    text-shadow: -0.3rem 0.3rem 0 var(--deepGreen);
    margin-top: auto;
    -webkit-text-stroke: 1px var(--deepGreen);
}

#menu-button {
    font-size: 3rem;
    border: none;
    color: var(--cream);
    background: none;
    border-radius: 50%;
    padding: 1rem 1.5rem;
    margin: 0.5rem 1.5rem;
    transition: 0.5s;
}

#menu-button:hover {
    background: var(--cream);
    color: var(--deepPurple);
    text-shadow: -0.2rem 0.1rem 0 var(--teal);
    border-radius: 15px;
}

/* BREADCRUMBS */
.breadcrumb {
    color: var(--offBlack);
    background-color: var(--mustard);
    font-size: 1rem;
}

    .breadcrumb h2 {
        color: var(--offBlack);
        font-family: var(--bodyFont);
        font-size: 1rem;
        text-align: left;
        margin-top: 0;
    }

    .breadcrumb ul {
        display: flex;
        list-style: none;
        padding-left: 1rem;
        align-content: start;
    }

    .breadcrumb a {
        color: var(--offBlack);
    }

    .breadcrumb li {
        transition: 0.5s;
    }

        /* Add in arrows after each breadcrumb except for the current page */
        .breadcrumb li:not([aria-current])::after,
        #skip a::after {
            content: '\f061';
            font-family: FontAwesome;
            margin: 0.25rem;
        }

#skip a {
    position: absolute;
    left: -1000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    background-color: var(--deepPurple);
    color: var(--cream);
    padding: 0.5rem;
    margin-left: 10vw;
}

    #skip a:focus {
        position: static;
        width: auto;
        height: auto;
    }

/* FOOTER STYLING */
footer {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--deepPurple);
    text-align: center;
    padding: 5% 13%;
    font-style: italic;
    font-size: 1rem;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

    footer a {
        color: var(--cream);
        text-decoration: none;
        transition: 0.2s;
        margin: 0.5rem;
    }

    footer a:hover {
        font-size: 1.5rem;
    }

    footer ul {
        color: var(--cream);
        font-size: 2rem;
        list-style: none;
        display: flex;
        justify-content: center;
    }

        footer ul li { margin: 2%; }

        footer ul li a { color: var(--mustard); }

        footer ul li a:hover {
            font-size: 2.5rem;
            color: var(--cream);
        }

/* MAIN CONTENT CSS */
main {
    background-color: var(--cream);
    min-height: 80vh;
}

.wrapper {
    margin: auto;
    max-width: 1200px;
    background-color: var(--cream);
}

/* Helper class to allow entire sections to act as a link. */
.stretch-link:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.content {
    flex: 1 1 0;
    background: var(--cream);
}

    .content p {
        margin-bottom: 1rem;
    }

    .content li {
        list-style: none;
        padding-left: 3%;
        margin-bottom: 0.5rem;
    }

        .content li a {
            color: var(--offBlack);
            transition: 0.5s;
        }

            .content li a:hover,
            .content li a:focus {
                font-weight: bold;
            }

/* Category Selection Class */
.categories ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    min-height: 50vh;
}

    .categories li {
        list-style: none;
        background-color: var(--deepGreen);
        border: 5px solid var(--lime);
        border-radius: 10px;
        box-shadow: -5px 8px 0 var(--lime);
        margin: 1rem;
        transition: 0.5s;
    }
        .categories li:hover {
            background-color: var(--teal);
            border: 5px solid var(--deepPurple);
            box-shadow: -5px 8px 0 var(--deepPurple);
        }

    .categories a {
        text-decoration: none;
        padding: 0.5rem;
    }

        .categories a h2 {
            color: var(--cream);
            -webkit-text-stroke: 1px var(--offBlack);
        }

/* .HERO STYLING  */
/* Class used for the focal image on plant.html */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(../img/background/background-hero.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 50vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

    .hero h1, .hero h2 {
        max-width: 300px;
        color: var(--cream);
        margin-left: auto;
        margin-right: auto;
        /* Simulating a stroke with text-shadow to have it appear outside the text. */
        text-shadow: -0.2rem 0.2rem 0 var(--deepPurple);
        -webkit-text-stroke: 1px var(--teal);
    }

    .hero h1{
        font-size: 3.5rem;
    }

    .hero h2 {
        font-size: 2rem;
    }

    .hero a {
        border-radius: 10px;
        border: 8px solid var(--lime);
        box-shadow: -3px 3px 0 var(--deepGreen);
        background-color: var(--cream);
        color: var(--offBlack);
        padding: 1rem;
        margin-top: 1vh;
        text-decoration: none;
        transition: 0.5s;
    }

    .hero a:hover {
        border: 8px solid var(--teal);
        box-shadow: -3px 3px 0 var(--deepPurple);
        color: var(--deepPurple);
    }

/* ----- DIAGNOSIS SPECIFIC STYLING ----- */
/* Class used for the focal styling on help-my-plant.html */
#quiz-hero {
    padding-top: 10vh;
    padding-bottom: 5vh;
    background-image: url(../img/background/gradient-yellow.jpg);
    background-size: cover;
    margin-bottom: 5vh;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
}

    #quiz-hero h1 {
        color: var(--cream);
        -webkit-text-stroke: 2px var(--offBlack);
        text-shadow: -0.2rem 0.2rem 0 var(--deepPurple);
    }

    #quiz-hero p {
        background-color: var(--overlayCream);
        padding: 1vw;
        border-radius: 10px;
        text-align: center;
    }

#results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    #results-container .result-hero {
        padding: 1rem;
        background-image: url(../img/background/background-hero.jpg);
        background-size: cover;
        margin-bottom: 5vh;
        border-radius: 10px;
    }

    #results-container .result-hero h1,
    #results-container .result-hero h2{
        color: var(--cream);
        -webkit-text-stroke: 2px var(--deepPurple);
        z-index: 2;
    }
    #results-container .result-hero h1 {
        font-size: 4rem;
    }

    #results-container .result-information{
        display: flex;
        flex-direction: column;
        background-color: var(--mustard);
        padding: 1rem;
        margin: 2vh 1vh;
        border-radius: 10px;
    }

    #results-container .result-information div{
        background-color: var(--cream);
        padding: 1rem;
        border-radius: 10px;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    #results-container .result-information div h3{
        color: var(--deepPurple);
        font-size: 1.75rem;
    }

    #results-container .result-information ul {
        display: flex;
        flex-direction: column;
    }
    #results-container .result-information ul li {
        margin: 0 1rem;
    }

    #results-container .result-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

    }

    #results-container .result-links button,
    #results-container .result-links a {
        color: var(--cream);
        text-decoration: none;
        font-size: 2rem;
        background-color: var(--deepGreen);
        border: 5px solid var(--lime);
        border-radius: 10px;
        box-shadow: -5px 8px 0 var(--lime),
                    -3px 4px 0 var(--lime);
        margin: 1rem;
        padding: 5%;
        text-align: center;
        transition: 0.5s;
        min-width: 100%;
    }

    /* TODO: figure out why this ain't rendering */
    #results-container .result-links button:hover,
    #results-container .result-links a:hover {
        background-color: var(--deepPurple);
        border: 5px solid var(--teal);
        box-shadow: -5px 8px 0 var(--teal),
                    -3px 4px 0 var(--teal);
        transition: 0.5s;
    }

/* ----- DATABASE SPECIFIC STYLING ----- */
/* ID used for the hero styling on the database pages */
#database-hero {
    padding-top: 5vh;
    padding-bottom: 2vh;
    background-image: url(../img/background/gradient-green.jpg);
    background-size: cover;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
}

    #database-hero h1 {
        padding-top: 2vh;
        font-size: 5rem;
        color: var(--cream);
        text-shadow: 1px 1px 0 var(--deepGreen),
        -1px -1px 0 var(--deepGreen),
        -1px 1px 0 var(--deepGreen),
        1px -1px 0 var(--deepGreen);
    }

    #database-hero p {
        background-color: var(--overlayCream);
        padding: 1vw;
        margin-left: 5vw;
        margin-right: 5vw;
        border-radius: 10px;
        text-align: center;
    }

    #database-hero .back {
        font-size: 1rem;
        color: var(--cream);
        background-color: var(--deepGreen);
        border: 5px solid var(--lime);
        box-shadow: -5px 5px 0 var(--lime);
        border-radius: 10px;
        padding: 0.5rem;
        margin-left: 1rem;
        margin-right: auto;
        text-decoration: none;
        transition: 0.5s
    }

        #database-hero .back:hover {
            font-size: 1.5rem;
            border-color: var(--cream);
            box-shadow: -5px 5px 0 var(--cream);
        }

/* Styling the search and filter bars */
.db-search {
    display: flex;
    flex-direction: column;
    padding: 0;
}
.db-search section {
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 5px solid var(--lime);
    box-shadow: -5px 8px 0 var(--deepGreen);
    border-radius: 15px;
    margin: 2%
}
.db-search label {
    display: flex;
    flex-grow: 1;
}

.db-search label input {
    border: none;
    flex-grow: 1;
    font-size: 1rem;
    color: var(--deepGreen);
}
    .db-search label input:focus {
        outline: none;
    }

.db-search button {
    background-color: white;
    border: 0 none;
    font-size: 2rem;
    color: var(--deepGreen);
}

.db-search button:hover {
    color: var(--deepPurple);
    text-shadow: -2px 2px 0 var(--mustard);
}

#filters {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#filters li {
    margin-top: auto;
    margin-bottom: auto;
}

#filters li button {
    font-size: 1rem;
    background-color: var(--deepGreen);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition: 0.3s;
}

#filters li button:hover {
    transition: 0.3s;
    text-shadow: none;
    background-color: var(--deepPurple);
    border: 3px solid var(--mustard);
    box-shadow: -1px 3px 0 var(--mustard);
}

#filter-none {
    font-size: 1rem;
    color: var(--overlayGreen);
}

/* ID used for the div holding the database results */
#database-results {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1vh;
    padding: 1vh;
    background-color: var(--lime);
    border-radius: 10px;
}

.db-entry {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
    background-color: var(--cream);
    border-radius: 10px;
    border: 5px solid var(--mustard);
    box-shadow: -5px 3px 0 var(--teal);
    margin: 0.5rem;
    padding: 0.5rem;
    position: relative;
}

    .db-entry img {
        min-width: 100%;
        max-height: 20vh;
        object-fit: cover;
        border-radius: 10px;
        border: 5px solid var(--mustard);
    }

    .db-entry div {
        display: flex;
        flex-grow: 1;
        text-align: left;
        flex-direction: column;
        max-width: 70%;
    }

    .db-entry h2 {
        text-align: left;
        font-size: 1.5rem; }

    .db-entry p {
        font-style: italic;
        font-size: 1.2rem;
    }

    .db-entry i {
        color: var(--teal);
        font-size: 2rem;
        justify-self: right;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5%;
    }

    .db-entry .db-placeholder {
        text-align: center;
        min-width: 100%;
        padding: 1rem 0;
    }

.db-notice {
    list-style: none;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: var(--deepGreen);
    border-radius: 10px;
    color: var(--cream);
    text-align: center;
}

    .db-notice h2 {
        color: var(--cream);
    }

    .db-notice p {
        font-style: italic;
    }


/* ----- ITEM VIEW PAGES ----- */
#view-back {
    display: flex;
    background-color: var(--deepGreen);
}
    #view-back a{
        text-decoration: none;
        color: var(--cream);
        padding: 2%;
        font-size: 1rem;
    }

#view-hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center;
    background-size: cover;
    min-height: 50vh;
    border-radius: 0 0 10px 10px;
}

    #view-hero h1, #view-hero p {
        color: var(--cream);
        margin: 0;
        width: 100vw;
    }

    #view-hero h1 {
        font-size: 3rem;
        background-color: var(--overlayGreen);
        text-shadow: 2px 2px 0 var(--deepGreen);
        border-radius: 10px 10px 0 0;
        text-align: left;
        padding: 0 1rem;
    }

    #view-hero p {
        padding: 0.5rem 1rem;
        font-style: italic;
        background-color: var(--deepGreen);
        border-radius: 0 0 10px 10px;
    }

.plant-stats {
    margin: 10% 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: var(--mustard);
    padding: 5%;
    border: 10px solid var(--teal);
    border-radius: 10px;
    box-shadow: -8px 8px 0 var(--deepPurple);
}

    .plant-stats li {
        list-style: none;
        text-align: center;
        background-color: var(--cream);
        border-radius: 10px;
        border: 5px solid var(--teal);
        width: 40%;
        margin: 2.5%;
        font-size: 1rem;
        padding: 1rem 0.5rem;
        box-shadow: 3px -3px 0 var(--teal);
    }

    .plant-stats li i {
        font-size: 3rem;
        color: var(--deepPurple);
    }

#allCommon, #problem-treatment {
    border-radius: 10px;
    border: 5px solid var(--teal);
    box-shadow: -3px 5px 0 var(--deepPurple);
    margin: 5% 0;
    padding: 5%;
}

    #allCommon li, #problem-treatment li {
        margin-left: 5%;
        font-size: 1.2rem;
    }


#view-info {
    border-radius: 10px;
    border: 5px solid var(--teal);
    box-shadow: -3px 5px 0 var(--deepPurple);
    padding: 2%;
    font-size: 1.2rem;
}

#problem-treatment h3, #view-info h3 {
    color: var(--deepPurple);
    font-size: 1.75rem;
}

/* ABOUT PAGE STYLING */
#reference {
    display: flex;
    flex-direction: column;
}

    #reference p {
        font-style: italic;
        background-color: var(--mustard);
        border-radius: 10px;
        padding: 1rem;
        margin: 0.5rem;
        text-align: center;
    }

    #reference ul {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: var(--lime);
        border-radius: 10px;
        padding: 1.5rem 0.5rem 0.5rem;
        border: 3px solid var(--deepGreen);
    }

        #reference ul li {
            font-size: 1rem;
            list-style: none;
            margin: 0 5%;
            background-color: var(--cream);
            border-radius: 10px;
            padding: 0.5rem;
            border: 3px solid var(--deepGreen);
            box-shadow: 3px -3px 0 var(--deepGreen);
            transition: 0.5s;
        }

            #reference ul li a,
            #reference ul li p {
                text-decoration: none;
                color: var(--offBlack);
                background-color: transparent;
                overflow-wrap: break-word;
                transition: 0.5s;
            }

            #reference ul li:hover {
                background-color: var(--mustard);
                border: 3px solid var(--teal);
                box-shadow: 3px -3px var(--deepPurple);
            }

/* ----- OVERLAYS ----- */
#overlayMenu, #filters-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--overlayBackground);
    background-image: url(../img/background/background-leaf.svg);
    background-size: 100px;
    z-index: 10; /* Ensuring that the overlay is OVER the content */
}
#overlayMenu .close-button, #filters-overlay .close-button {
    font-size: 4rem;
    border: none;
    color: var(--cream);
    border-radius: 15%;
    margin-left: 75vw;
    margin-top: 3vh;
    transition: 0.5s;
    background-color: transparent;
}
#overlayMenu .close-button:hover, #filters-overlay .close-button:hover {
    font-size: 5rem;
    color: var(--teal);
    text-shadow: -0.2rem 0.1rem 0 var(--deepPurple);
    border-radius: 15px;
}
#overlayMenu ul, #filters-overlay ul {
    padding-top: 10vh;
    padding-bottom: 10vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Overlay navigation */
#overlayMenu li {
    font-size: 1.5rem;
    background: var(--deepGreen);
    border: solid var(--lime);
    border-width: 0.25rem 0 0.25rem 0.25rem;
    border-radius: 2.5rem 0 0 2.5rem;
    box-shadow: -0.5vw 1vh 0 var(--lime),
    0.5vw 1vh 0 var(--lime);
    display: block;
    padding: 1rem 1rem 1rem 5vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 20vw;
    transition: 0.5s;
}
#overlayMenu li:hover {
    font-size: 2rem;
    background: var(--deepPurple);
    border: solid var(--teal);
    border-width: 0.25rem 0 0.25rem 0.25rem;
    box-shadow: -0.5vw 1vh 0 var(--teal),
    0.5vw 1vh 0 var(--teal);
}
#overlayMenu a {
    text-decoration: none;
    color: var(--cream);
}
#overlayMenu .active {
    background: var(--lime);
    border: solid var(--deepGreen);
    border-width: 0.25rem 0 0.25rem 0.25rem;
    box-shadow: -0.5vw 1vh 0 var(--deepGreen),
    0.5vw 1vh 0 var(--deepGreen);
}
#overlayMenu .active a {
    text-shadow: 1px 1px 0 var(--deepGreen),
    -1px 1px 0 var(--deepGreen),
    1px -1px 0 var(--deepGreen),
    -1px -1px 0 var(--deepGreen);
}

/* Overlay Filters */
#filters-overlay li{
    margin: 0.5rem 5vw;
    display: flex;
    flex-direction: column;
    background-color: var(--deepGreen);
    color: var(--cream);
    border-radius: 10px;
    border: 5px solid var(--lime);
    box-shadow: -3px 4px 0 var(--lime);
}

#filters-overlay label {
    font-family: var(--headerFont);
    font-size: 1.7rem;
    margin: 0.5rem auto;
}
#filters-overlay select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    font-family: var(--bodyFont);
    font-size: 1.5rem;
    color: var(--offBlack);
    border: none;
}
#filters-overlay .select {
    position: relative;
    display: block;
    overflow: hidden;
}
#filters-overlay .select::after {
    font-weight: bold;
    font-size: 2rem;
    color: var(--deepGreen);
    content: '\2935';
    pointer-events: none;
    position: absolute;
    top: -35%;
    right: 0;
    bottom: 0;
    padding-right: 1rem;
}

/* MEDIA QUERIES */
/* Tablet media query */
@media (min-width: 700px) {
   header {
       padding-top: 2vh;
   }
       header nav {
           padding: 0 5vw;
       }

   .logo {
       font-size: 3rem;
   }

   footer {
       padding: 2%;
       position: sticky;
       bottom: -5%;
   }

       footer div {
           flex-direction: row;
           margin-bottom: 2%;
       }
        footer #about {
            display: block;
            max-width: 50%;
        }

   .categories ul {
       flex-direction: row;
       flex-wrap: wrap;
   }
   .categories li {
       max-width: 30%;
       margin: 0.5rem;
   }
   .categories li h2 {
       font-size: 2rem;
       -webkit-text-stroke: 1px var(--deepGreen);
   }
    .categories li h2 i{
        display: block;
        min-width: 100%;
    }
   .categories #all-category {
       min-width: 100%;
   }
   .categories #all-category h2 {
       font-size: 2.5rem;
   }
    .categories #all-category h2 i {
        display: inline-block;
        min-width: 0;
    }

   #results-container .result-information {
       max-width: 80%;
   }

   #database-results {
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: space-evenly;
   }

   .db-entry {
       width: 45%
   }

   .db-notice {
       width: 80%;
   }

   /* Would it be better code if i could combine the next two styles? yes. Does it cooperate? no. */
   #view-hero h1 {
       padding-left: 10vw;
   }

   #view-hero p {
       padding-left: 10vw;
   }

    .plant-stats {
       margin-left: auto;
       margin-right: auto;
       margin-top: 5%;
       max-width: 60%;
   }

    #reference p {
        padding-left: 10%;
        padding-right: 10%;
        margin-left: 5%;
        margin-right: 5%;
    }

    #reference ul {
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 5%;
    }
}

/* Desktop media query */
@media (min-width: 1200px) {
    main {
        background: var(--cream);
        background-image: url(../img/background/autumn.svg); /* Fallback if the next line doesn't work*/
        background-image: linear-gradient(90deg, rgba(229, 221, 210, 0) 0%, rgba(229, 221, 210, 1) 20%, rgba(229, 221, 210, 1) 80%, rgba(229, 221, 210, 0) 100%), url(../img/background/autumn.svg);
    }

    h1 {
        font-size: 5rem;
    }

    header {
        position: sticky;
        top: -3%;
    }
    header nav {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .logo {
        font-size: 3.5rem;
    }

    footer {
        bottom: -20%;
        padding: 2%;
    }
    footer div {
        margin-bottom: 2%;
    }

    .categories ul {
        margin-left: 10%;
        margin-right: 10%;
    }

    .categories li h2 {
        font-size: 2.5rem;
    }

    .hero {
        min-height: 80vh;
        justify-content: center;
    }
    .hero h1, .hero h2 {
        max-width: 60%;
    }

    .hero h1 {
        font-size: 6rem;
    }

    #quiz-hero p,
    #results-container .result-hero h1,
    #results-container .result-hero h2 {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    #results-container .result-hero h1 {
        font-size: 6rem;
        -webkit-text-stroke: 1px var(--deepGreen);
    }

    #results-container .result-links {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #results-container .result-links a,
    #results-container .result-links button {
        min-width: 0;
        padding: 0.5rem;
    }

    #results-container .result-links a {
        width: 90%;
    }

    #results-container .result-links button {
        width: 40%;
    }

    .db-search {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .db-entry {
        max-width: 22%;
        align-content: flex-start;
    }

    #view-hero h1, #view-hero p {
        max-width: 100%;
    }

    #allCommon, #problem-treatment, #view-info {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    #overlayMenu li {
        margin-left: 30vw;
    }
}