/*  FONTS: */
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* font-family: "Gamja Flower", sans-serif;
   font-family: "Mali", cursive;
   font-family: "Atkinson Hyperlegible", sans-serif;
 */

:root {
    /* Colour Variables */
    --deepOlive: #435229;
    --mutedGreen: #898C37;
    --offWhite: #E5DDD2;
    --overlayWhite: rgba(229, 221, 210, 0.5);
    --salmon: #F2AE72;
    --terracotta: #BF4904;
    --warmBrown: #5C2513;
    --offBlack: #121206;
    --overlayBackground: rgba(18, 18, 6, 0.8);
    /* Font Variables*/
    --titleFont: "Gamja Flower", sans-serif;
    --headerFont: "Mali", cursive;
    --bodyFont: "Atkinson Hyperlegible", sans-serif;
}

/*Setting default styles for ease of editing*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--bodyFont);
    font-size: 1.5rem;
    color: var(--offBlack);
    background-color: var(--offWhite);
}
/* Helper class for sizing content on screens*/
.wrapper {
    /* TODO: Adjust these for final version */
    margin: auto;
    max-width: 700px; /* 700px would be the size for changing to tablet, we're focusing on mobile for now */
    background-color: var(--offWhite);
}


/* Ensure everything is a block for viewing on a mobile as a stacked set of content */
aside,
footer,
header,
main,
section {
    display: block;
}

aside,
section,
footer {
    padding: 10px 30px;
}

/* DEFAULT TEXT STYLING */

h1,
h2 {
    text-align: center;
    color: var(--warmBrown);
    margin-top: 1rem;
}

h1 {
    font-family: var(--titleFont);
    margin-bottom: 2rem;
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h2,
h3 {
    font-family: var(--headerFont);
}

h3 {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 1rem;
}

/* HEADER */
header {
    background: var(--warmBrown);
    z-index: 1;
}

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        color: var(--offWhite);
    }

.logo {
    color: var(--offWhite);
    font-family: var(--titleFont);
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 3rem;
    transition: 0.5s;
    text-decoration: none;
    padding: 1rem 1.5rem;
    text-shadow: -0.2rem 0.1rem 0 var(--terracotta);
}

#menu-button {
    font-size: 3rem;
    border: none;
    color: var(--offWhite);
    background: none;
    border-radius: 50%;
    padding: 1rem 1.5rem;
    margin: 0.5rem 1.5rem;
    transition: 0.5s;
}

#menu-button:hover {
    background: var(--offWhite);
    color: var(--warmBrown);
    text-shadow: -0.2rem 0.1rem 0 var(--terracotta);
    border-radius: 15px;
}
/* MENU OVERLAY */
/* Class to denote on the navigation bar which is the current page or section */
#overlayMenu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--overlayBackground);
    background-image: url(../img/background/background-leaf.svg);
    background-size: 20%;
    z-index: 2; /* Ensuring that the overlay is OVER the content */
}
    #overlayMenu ul{
        padding-top: 10vh;
        padding-bottom: 10vh;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #overlayMenu li {
        font-size: 1.5rem;
        background: var(--deepOlive);
        border: solid var(--mutedGreen);
        border-width: 0.25rem 0 0.25rem 0.25rem;
        border-radius: 2.5rem 0 0 2.5rem;
        box-shadow: -0.5vw 1vh 0 var(--mutedGreen);
        display: block;
        padding: 1rem 1rem 1rem 5vw;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 20vw;
        transition: 0.5s;
    }
    #overlayMenu li:hover {
        font-size: 2rem;
        background: var(--warmBrown);
        border: solid var(--terracotta);
        box-shadow: -0.5vw 1vh 0 var(--terracotta);
    }
    #overlayMenu a {
        text-decoration: none;
        color: var(--offWhite);
    }
    #overlayMenu .active {
        background: var(--mutedGreen);
        border: solid var(--deepOlive);
        border-width: 0.25rem 0 0.25rem 0.25rem;
        box-shadow: -0.5vw 1vh 0 var(--deepOlive);
    }
    #overlayMenu .active a {
        text-shadow: 1px 1px 0 var(--deepOlive),
                     -1px 1px 0 var(--deepOlive),
                     1px -1px 0 var(--deepOlive),
                     -1px -1px 0 var(--deepOlive);
    }
    #overlayMenu #close-button {
        font-size: 4rem;
        border: none;
        color: var(--offWhite);
        border-radius: 15%;
        margin-left: 75vw;
        margin-top: 3vh;
        transition: 0.5s;
        background-color: transparent;
    }
    #overlayMenu #close-button:hover {
        font-size: 5rem;
        color: var(--terracotta);
        text-shadow: -0.2rem 0.1rem 0 var(--warmBrown);
        border-radius: 15px;
    }

/* BREADCRUMBS */
.breadcrumb {
    color: var(--offBlack);
    background-color: var(--salmon);
    font-size: 1rem;
}

    .breadcrumb h2 {
        color: var(--offBlack);
        font-family: var(--bodyFont);
        font-size: 1rem;
        text-align: left;
        margin-top: 0;
    }

    .breadcrumb ul {
        display: flex;
        list-style: none;
        padding-left: 1rem;
        align-content: start;
    }

    .breadcrumb a {
        color: var(--offBlack);
    }

    .breadcrumb li {
        transition: 0.5s;
    }

        /* Add in arrows after each breadcrumb except for the current page */
        .breadcrumb li:not([aria-current])::after,
        #skip a::after {
            content: '\f061';
            font-family: FontAwesome;
            margin: 0.25rem;
        }

#skip a {
    position: absolute;
    left: -1000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    background-color: var(--warmBrown);
    color: var(--offWhite);
    padding: 0.5rem;
    margin-left: 10vw;
}

    #skip a:focus {
        position: static;
        width: auto;
        height: auto;
    }

/* FOOTER STYLING */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: var(--warmBrown);
    text-align: center;
    padding: 5%;
    font-style: italic;
    color: var(--offWhite);
}

    footer a {
        color: var(--offWhite);
    }

    footer ul {
        color: var(--offWhite);
        font-size: 2rem;
        list-style: none;
        display: flex;
        justify-content: center;
    }

        footer ul li {
            margin: 2%;
        }

    footer section {
        display: flex;
        flex-direction: column;
    }

/* MAIN CONTENT CSS */
main {
    background-color: var(--offWhite);
    /*background-image: url(../img/background/autumn.svg);*/
}

/* Helper class to allow entire sections to act as a link. */
.stretch-link:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Helper class to hide specific content on mobile sized devices */
.mobile-hide {
    display: none;
}

.content {
    flex: 1 1 0;
    background: var(--offWhite);
}

    .content p {
        margin-bottom: 1rem;
    }

    .content li {
        list-style: none;
        padding-left: 3%;
        margin-bottom: 0.5rem;
    }

        .content li a {
            color: var(--offBlack);
            transition: 0.5s;
        }

            .content li a:hover,
            .content li a:focus {
                font-weight: bold;
            }

/* Category Selection Class */
.categories ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    min-height: 50vh;
}

    .categories li {
        list-style: none;
        background-color: var(--mutedGreen);
        border: 5px solid var(--deepOlive);
        border-radius: 10px;
        box-shadow: -5px 8px 0 var(--deepOlive);
        margin: 1rem;
        transition: 0.5s;
    }
        .categories li:hover {
            background-color: var(--deepOlive);
            border: 5px solid var(--mutedGreen);
            box-shadow: -5px 8px 0 var(--mutedGreen);
        }

    .categories a {
        text-decoration: none;
        padding: 0.5rem;
    }

        .categories a h2 {
            color: var(--offWhite);
            -webkit-text-stroke: 2px var(--deepOlive);
        }

/* Class used to restrict the size of specific elements */
.sidebar {
    flex: 0 1 350px;
    background-color: var(--offWhite);
    text-align: center;
}

    .sidebar img {
        max-width: 320px;
    }

/* .HERO STYLING  */
/* Class used for the focal image on plant.html */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(../img/background/background-hero.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 50vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

    .hero h1, .hero h2 {
        max-width: 300px;
        color: var(--offWhite);
        margin-left: auto;
        margin-right: auto;
        /* Simulating a stroke with text-shadow to have it appear outside the text. */
        text-shadow: 2px 2px 0 var(--deepOlive),
                     -2px 2px 0 var(--deepOlive),
                     2px -2px 0 var(--deepOlive),
                     -2px -2px 0 var(--deepOlive);
    }

    .hero h1{
        font-size: 3.5rem;
    }

    .hero h2 {
        font-size: 2rem;
    }

    .hero a {
        border-radius: 10px;
        background-color: var(--offWhite);
        color: var(--deepOlive);
        padding: 1rem;
        margin-top: 1vh;
        text-decoration: none;
    }

/* Class used for the focal styling on help-my-plant.html */
#quiz-hero {
    padding-top: 10vh;
    padding-bottom: 5vh;
    background-image: url(../img/background/gradient-orange.jpg);
    background-size: cover;
    margin-bottom: 5vh;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
}

    #quiz-hero h1 {
        color: var(--offWhite);
        text-shadow: 1px 1px 0 var(--warmBrown),
                     -1px -1px 0 var(--warmBrown),
                     -1px 1px 0 var(--warmBrown),
                     1px -1px 0 var(--warmBrown);
    }

    #quiz-hero p {
        background-color: var(--overlayWhite);
        padding: 1vw;
        border-radius: 10px;
        text-align: center;
    }

/* ----- DATABASE SPECIFIC STYLING -----  */
/* ID used for the hero styling on the database pages */
#database-hero {
    padding-top: 5vh;
    padding-bottom: 2vh;
    background-image: url(../img/background/gradient-green.jpg);
    background-size: cover;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
}

    #database-hero h1 {
        padding-top: 2vh;
        font-size: 5rem;
        color: var(--offWhite);
        text-shadow: 1px 1px 0 var(--deepOlive),
        -1px -1px 0 var(--deepOlive),
        -1px 1px 0 var(--deepOlive),
        1px -1px 0 var(--deepOlive);
    }

    #database-hero p {
        background-color: var(--overlayWhite);
        padding: 1vw;
        margin-left: 5vw;
        margin-right: 5vw;
        border-radius: 10px;
        text-align: center;
    }

    #database-hero .back {
        font-size: 1rem;
        color: var(--offWhite);
        background-color: var(--deepOlive);
        border: 5px solid var(--mutedGreen);
        box-shadow: -5px 5px 0 var(--mutedGreen);
        border-radius: 10px;
        padding: 0.5rem;
        margin-left: 1rem;
        margin-right: auto;
        text-decoration: none;
        transition: 0.5s
    }

        #database-hero .back:hover {
            font-size: 1.5rem;
            border-color: var(--offWhite);
            box-shadow: -5px 5px 0 var(--offWhite);
        }

/* Styling the search and filter bars */
.db-search {
    display: flex;
    flex-direction: column;
}
.db-search section {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    background-color: white;
    border: 5px solid var(--mutedGreen);
    box-shadow: -5px 8px 0 var(--deepOlive);
    border-radius: 15px;
}
.db-search label {
    display: flex;
    flex-grow: 1;
}

.db-search label input {
    border: none;
    flex-grow: 1;
    font-size: 1rem;
    color: var(--deepOlive);
}
    .db-search label input:focus {
        outline: none;
    }
    .db-search section:focus {
        border: 5px solid var(--terracotta);
        box-shadow: -5px 8px 0 var(--warmBrown);
    }
.db-search button {
    background-color: white;
    border: 0 none;
    font-size: 2rem;
    color: var(--deepOlive);
}

/* ID used for the ul holding the database results */
#database-results {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1vh;
    padding: 1vh;
    background-color: var(--mutedGreen);
    border-radius: 10px;
}

.db-entry {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-content: space-evenly;
    background-color: var(--offWhite);
    border-radius: 10px;
    border: 5px solid var(--salmon);
    box-shadow: -5px 3px 0 var(--terracotta);
    margin: 0.5rem;
    padding: 0.5rem;
    list-style: none;
}

    .db-entry img {
        max-width: 15vh;
        max-height: 15vh;
        border-radius: 10px;
        border: 5px solid var(--salmon);
        margin: 1rem;
    }

    .db-entry div {
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0.5rem;
    }

    .db-entry h2 {
        font-size: 2rem;
    }

    .db-entry p {
        font-style: italic;
    }

    .db-entry i {
        color: var(--terracotta);
        font-size: 3rem;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 0.5rem;
        margin-right: 1rem;
    }

.db-notice {
    list-style: none;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: var(--deepOlive);
    border-radius: 10px;
    color: var(--offWhite);
    text-align: center;
}

    .db-notice h2 {
        color: var(--offWhite);
    }

    .db-notice p {
        font-style: italic;
    }

/* ABOUT PAGE STYLING */
#reference {
    display: flex;
    flex-direction: column;
}

#reference p {
    font-style: italic;
    background-color: var(--salmon);
    border-radius: 10px;
    padding: 1rem;
    margin: 0.5rem;
}

/* Class used to organize a gallery of img on the pages for each individual location. */
.mason-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

    .mason-gallery img {
        display: block;
        max-width: 80vw;
        max-height: 30vh;
        object-fit: cover;
        padding: 10px;
        margin: auto;
    }

        .mason-gallery img:hover,
        .mason-gallery img:focus {
            background-color: var(--salmon);
        }

/* TODO: Restore these for final release */
/*!* MEDIA QUERIES *!*/
/*!* Tablet media query *!*/
/*@media (min-width: 700px) {*/
/*    header nav ul {*/
/*        flex-grow: 1;*/
/*        display: flex;*/
/*        flex-direction: row;*/
/*        justify-content: flex-end;*/
/*        background-color: var(--terracotta);*/
/*    }*/

/*        header nav ul a {*/
/*            padding: 10px 30px;*/
/*            background-color: var(--warmBrown);*/
/*        }*/

/*    header .logo {*/
/*        font-size: 4rem;*/
/*    }*/

/*    #menu-button {*/
/*        display: none;*/
/*    }*/

/*    footer {*/
/*        flex-direction: row;*/
/*        justify-content: space-around;*/
/*        padding-top: 1rem;*/
/*        padding-bottom: 1rem;*/
/*    }*/

/*        footer ul {*/
/*            margin: 2%;*/
/*        }*/

/*        footer a,*/
/*        footer a i {*/
/*            color: var(--offWhite);*/
/*            padding: 2%;*/
/*            transition: 0.5s;*/
/*            vertical-align: middle;*/
/*        }*/

/*            footer a:hover,*/
/*            footer a:focus,*/
/*            footer a i:hover,*/
/*            footer a i:focus {*/
/*                color: var(--offWhite);*/
/*                font-size: 2.5rem;*/
/*                text-shadow: 1px 1px 0px var(--offBlack);*/
/*            }*/

/*    .mobile-hide {*/
/*        display: block;*/
/*    }*/

/*    .flex-container {*/
/*        display: flex;*/
/*        flex-wrap: wrap;*/
/*        background-color: var(--offWhite);*/
/*        justify-content: center;*/
/*    }*/

/*    .content {*/
/*        min-width: 60%;*/
/*    }*/

/*    .hero {*/
/*        padding-top: 25vh;*/
/*    }*/

/*    .mason-gallery img {*/
/*        max-width: 60vw;*/
/*        height: 300px;*/
/*        object-fit: cover;*/
/*    }*/
/*}*/

/*!* Desktop media query *!*/
/*@media (min-width: 1200px) {*/
/*    header nav ul {*/
/*        padding-right: 10%;*/
/*    }*/

/*    header .logo {*/
/*        padding-left: 10%;*/
/*        font-size: 3.5rem;*/
/*    }*/

/*    footer {*/
/*        justify-content: center;*/
/*    }*/

/*    .wrapper {*/
/*        background-color: var(--offWhite);*/
/*        padding: 30px 60px;*/
/*    }*/

/*    #header_banner h1 {*/
/*        font-size: 4rem;*/
/*        padding-left: 12vw;*/
/*    }*/

/*    .hero h1 {*/
/*        font-size: 5rem;*/
/*        max-width: 400px;*/
/*    }*/

/*    .mason-gallery a img {*/
/*        width: 500px;*/
/*        max-height: 400px;*/
/*        object-fit: cover;*/
/*    }*/
/*}*/