/*  FONTS: */
@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* font-family: "Macondo Swash Caps", cursive;
   font-family: "Gamja Flower", sans-serif;
   font-family: "Atkinson Hyperlegible", sans-serif;
 */

/*
    DEFAULT COLOURS
    #424E20 - Deep Olive Green
    #898C37 - Muted Green
    #E5DDD2 - Off White
    #F2AE72 - Salmon
    #BF4904 - Terracotta
    #5C2513 - Warm Brown
    #121206 - Off Black
*/

:root {
    /* Colour Variables */
    --deepOlive: #435229;
    --mutedGreen: #898C37;
    --offWhite: #E5DDD2;
    --salmon: #F2AE72;
    --terracotta: #BF4904;
    --warmBrown: #5C2513;
    --offBlack: #121206;
    /* Font Variables*/
    --macondoSwashCaps: "Macondo Swash Caps", cursive;
    --gamjaFlower: "Gamja Flower", sans-serif;
    --atkinsonHyperlegible: "Atkinson Hyperlegible", sans-serif;
}

/*Setting default styles for ease of editing*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--atkinsonHyperlegible);
    font-size: 1.5rem;
    color: var(--offBlack);
}


/* Ensure everything is a block for viewing on a mobile as a stacked set of content */
aside,
footer,
header,
main,
section {
    display: block;
}

aside,
section,
footer {
    padding: 10px 30px;
}

/* DEFAULT TEXT STYLING */

h1,
h2 {
    text-align: center;
    color: var(--warmBrown);
    font-size: 3rem;
    margin-top: 1rem;
}

h1 {
    font-family: var(--macondoSwashCaps);
    margin-bottom: 2rem;
}

h2 {
    font-family: var(--gamjaFlower);
}

h3 {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 1rem;
}

/* HEADER */
header {
    background: var(--deepOlive);
    z-index: 1;
}

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        color: var(--offWhite);
    }

        header nav ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0%;
        }

        header nav li a {
            display: block;
            text-decoration: none;
            color: var(--offWhite);
            text-align: center;
            padding: 0.5rem;
            transition: 0.5s;
        }

        header nav ul a:hover,
        header nav ul a:focus {
            color: var(--offBlack);
            background-color: var(--terracotta);
            border-left: 10px solid var(--terracotta);
            border-right: 10px solid var(--terracotta);
            box-shadow: 0px 5px 5px var(--terracotta);
        }

/* Class to denote on the navigation bar which is the current page or section */
.active {
    font-weight: 700;
    background-color: var(--mutedGreen);
    transition: 0.5s;
    color: var(--offBlack);
}

.logo {
    color: var(--offWhite);
    font-family: var(--macondoSwashCaps);
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.5rem;
    transition: 0.5s;
    text-decoration: none;
    padding: 1rem 1.5rem;
}

#menu-button {
    font-size: 3rem;
    border: none;
    color: var(--offWhite);
    background: none;
    border-radius: 50%;
    padding: 10px 16px;
    transition: 0.5s;
}

    #menu-button:hover,
    #menu-button:focus {
        color: var(--offBlack);
        background-color: var(--terracotta);
        text-shadow: none;
    }

/* BREADCRUMBS */
.breadcrumb {
    color: var(--offBlack);
    background-color: var(--mutedGreen);
    font-size: 1rem;
}

    .breadcrumb h2 {
        color: var(--offBlack);
        font-family: var(--atkinsonHyperlegible);
        font-size: 1rem;
        text-align: left;
        margin-top: 0%;
    }

    .breadcrumb ul {
        display: flex;
        list-style: none;
        padding-left: 1rem;
        align-content: start;
    }

    .breadcrumb a {
        color: var(--offBlack);
    }

    .breadcrumb li {
        transition: 0.5s;
    }

        /* Add in arrows after each breadcrumb except for the current page */
        .breadcrumb li:not([aria-current])::after,
        #skip a::after {
            content: '\f061';
            font-family: FontAwesome;
            margin: 0.25rem;
        }

        .breadcrumb li:hover,
        .breadcrumb li:focus {
            font-weight: bold;
            font-size: 1.5rem;
            background-color: var(--terracotta);
            border-left: 15px solid var(--terracotta);
            border-right: 15px solid var(--terracotta);
            box-shadow: 0px 5px 5px var(--terracotta);
        }

#skip a {
    position: absolute;
    left: -1000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    background-color: var(--deepOlive);
    color: var(--offWhite);
    padding: 0.5rem;
    margin-left: 10vw;
}

    #skip a:focus {
        position: static;
        width: auto;
        height: auto;
    }

/* FOOTER STYLING */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: var(--deepOlive);
    text-align: center;
    padding: 5%;
    font-style: italic;
    color: var(--offWhite);
}

    footer a {
        color: var(--offWhite);
    }

    footer ul {
        color: var(--offWhite);
        font-size: 2rem;
        list-style: none;
        display: flex;
        justify-content: center;
    }

        footer ul li {
            margin: 2%;
        }

    footer section {
        display: flex;
        flex-direction: column;
    }

/* MAIN CONTENT CSS */
main {
    background-color: var(--offWhite);
}

/* Class to contain content on bigger screens. */
.wrapper {
    margin: auto;
    max-width: 1200px;
}

/* Helper class to allow entire sections to act as a link. */
.stretch-link:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Helper class to hide specific content on mobile sized devices */
.mobile-hide {
    display: none;
}

.content {
    flex: 1 1 0%;
    background: var(--offWhite);
}

    .content p {
        margin-bottom: 1rem;
    }

    .content li {
        list-style: none;
        padding-left: 3%;
        margin-bottom: 0.5rem;
    }

        .content li a {
            color: var(--offBlack);
            transition: 0.5s;
        }

            .content li a:hover,
            .content li a:focus {
                font-weight: bold;
            }

/* Class used to restrict the size of specific elements */
.sidebar {
    flex: 0 1 350px;
    background-color: var(--offWhite);
    text-align: center;
}

    .sidebar img {
        max-width: 320px;
    }

/* .HERO STYLING  */
/* Class used for the focal image on index.html */
.hero {
    background-image: url(#);
    background-size: cover;
    background-position: center center;
    min-height: 50vh;
    padding-top: 15vh;
}

    .hero h1 {
        max-width: 300px;
        font-size: 4rem;
        border: 0.5rem solid;
        border-color: var(--offWhite);
        margin-left: auto;
        margin-right: auto;
    }

/* Class used to organize a gallery of images on the pages for each individual location. */
.mason-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

    .mason-gallery img {
        display: block;
        max-width: 80vw;
        max-height: 30vh;
        object-fit: cover;
        padding: 10px;
        margin: auto;
    }

        .mason-gallery img:hover,
        .mason-gallery img:focus {
            background-color: var(--terracotta);
        }

/* MEDIA QUERIES */
/* Tablet media query */
@media (min-width: 700px) {
    header nav ul {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background-color: var(--mutedGreen);
    }

        header nav ul a {
            padding: 10px 30px;
            background-color: var(--deepOlive);
        }

    header .logo {
        font-size: 2.5rem;
    }

    #menu-button {
        display: none;
    }

    footer {
        flex-direction: row;
        justify-content: space-around;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

        footer ul {
            margin: 2%;
        }

        footer a,
        footer a i {
            color: var(--offWhite);
            padding: 2%;
            transition: 0.5s;
            vertical-align: middle;
        }

            footer a:hover,
            footer a:focus,
            footer a i:hover,
            footer a i:focus {
                color: var(--offWhite);
                font-size: 2.5rem;
                text-shadow: 1px 1px 0px var(--offBlack);
            }

    .mobile-hide {
        display: block;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        background-color: var(--offWhite);
        justify-content: center;
    }

    .content {
        min-width: 60%;
    }

    .hero {
        padding-top: 25vh;
    }

    .cards {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

        .cards h2 {
            font-size: 3rem;
        }

    .destination {
        flex-direction: row;
        justify-content: center;
    }

        .destination img {
            max-width: 200px;
            height: 200px;
            margin-top: 25%;
        }

    .alternate {
        flex-direction: row-reverse;
    }

    #information .button-link {
        max-width: 500px;
        text-align: center;
        margin: auto;
        margin-bottom: 50px;
    }


    .mason-gallery img {
        max-width: 60vw;
        height: 300px;
        object-fit: cover;
    }
}

/* Desktop media query */
@media (min-width: 1200px) {
    header nav ul {
        padding-right: 10%;
    }

    header .logo {
        padding-left: 10%;
        font-size: 3.5rem;
    }

    footer {
        justify-content: center;
    }

    .wrapper {
        background-color: var(--offWhite);
        padding: 30px 60px;
    }

    #header_banner h1 {
        font-size: 4rem;
        padding-left: 12vw;
    }

    .hero h1 {
        font-size: 5rem;
        max-width: 400px;
    }

    .cards article {
        width: 500px;
    }

    .destination img {
        max-width: 350px;
        height: 350px;
        margin-top: 0%;
    }

    .mason-gallery a img {
        width: 500px;
        max-height: 400px;
        object-fit: cover;
    }
}